@font-face{
    font-family: 'Lato-Bold';
    src: url(../assets/Lato-Bold.ttf);
}

@font-face{
    font-family: 'MavenPro-Regular';
    src: url(../assets/MavenPro-Regular.ttf);
}

@font-face{
    font-family: 'Lato-Black';
    src: url(../assets/Lato-Black.ttf);
}

@font-face{
    font-family: 'Lato-Regular';
    src: url(../assets/Lato-Regular.ttf);
}

@font-face{
    font-family: 'MyriadPro-Regular';
    src: url(../assets/MyriadPro-Regular.ttf);
}

header {
	background: #323232;
  	height: 63px;
	position: relative;
}

.hidden {
	position: absolute;
    clip: rect(1px 1px 1px 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

.menu {
	font-family: Lato-Bold;
    font-weight: bold;
    font-size: 7.21379pt;
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 371px;
    margin: auto;
    align-items: center;
    padding-left: 3px;
    padding-top: 8px;
}

a, .portfolio-link:hover {
    text-decoration: none;
    color:#FFF;
}

a:hover, .portfolio-link {
    color: #2eb398;
}

header:after {
	content: "";
	width: 0;
	height: 0;
	border-left: 48px solid transparent;
	border-right: 48px solid transparent;
	border-top: 25px solid #323232;
	top: 63px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.logo-picture {
	padding-top: 8px;
	width: 55px;
	height: 45px;
}

span.circle {
	font-weight: 900;
	color: #424554;
}

.main {
	width: 1024px;
}

.hex-container {
	width: 100%;
	margin-top: 50px;
	text-align: center;
}

.hexagon {
	width: 145px;
	height: 170px;
	transform: rotate(120deg);
	margin: 5px;
	overflow: hidden;
	visibility: hidden;
	display: inline-block;
	margin-top: 5px;
	
}

.hex-layer-one {
	width: 100%;
	height: 100%;
	transform: rotate(-60deg);
	overflow: hidden;	
	visibility: hidden;
}

.hex-layer-two {
	width: 100%;
	height: 100%;
	background: #cccc;
	transform: rotate(-60deg);
	overflow: hidden;
	visibility: visible;
	background-repeat: no-repeat;
	background-position: 50%;
}

.one {background-image: url('../assets/1.png');}
.two {background-image: url('../assets/2.png');}
.three {background-image: url('../assets/3.png');}
.four {background-image: url('../assets/4.png');}
.five {background-image: url('../assets/5.png');}
.six {background-image: url('../assets/6.png');}
.seven {background-image: url('../assets/7.png');}
.eight {background-image: url('../assets/8.png');}
.nine {background-image: url('../assets/9.png');}
.ten {background-image: url('../assets/10.png');}
.eleven {background-image: url('../assets/11.png');}
.twelve {background-image: url('../assets/12.png');}
.threeteen {background-image: url('../assets/13.png');}

.row-even {
	position: relative;
}

.row-even-1 {
	position: relative;
	/* top: -100px; */
}

.row-odd {
	position: relative;
	/* top: -50px; */
	margin-top: -45px;
    margin-bottom: -45px;
}

.slider {
    margin-left: 28px;
    width: 55px;
    min-width: 55px;
    margin-bottom: 23px;
    display: inline-flex;
}

.slider-items {
    list-style: none;
    background-color: #ddd2c5;
    border: none;
    padding: 3px;
    margin: auto;
    align-items: center;
}

.slider-items.visited {
    background-color: #8b8784;
}

.info {
	width: 1024px;
	height: 220px;
	background-color: #2eb398;
	color: #d7fcf5;
	padding-top: 68px;
	margin: auto;
}

.info-left {
    border-left: 1px solid #219d84;
    margin-left: 99px;
    position: absolute;
    height: 316px;
    width: 0px;
    margin-top: -55px;
}

.info-right {
    border-left: 1px solid #219d84;
    margin-left: 920px;
    position: absolute;
    height: 316px;
    width: 0px;
    margin-top: -55px;
}

article {
	position: relative;
	margin-left: 75px;
}

.picture-Smith {
    background: url('..//assets/avator.png');
    background-position: 50%;
}

.info .hexagon {
    position: relative;
    top: -1px;
    left: 120px;
}

article h2 {
    font-family: 'MavenPro-Regular';
    font-size: 29.35px;
    width: 212px;
    left: 319px;
    top: -4.5px;
    position: absolute;
}

article h3 {
    font-family: 'MavenPro-Regular';
    font-size: 13.16pt;
    color: #20816d;
    width: 257px;
    left: 320px;
    top: 28.7px;
    position: absolute;
}

.info p {
    font-family: Lato-Regular;
    left: 320px;
    position: absolute;
    width: 581px;
    text-align: justify;
    top: 59px;
    font-size: 11.94px;
    line-height: 186%;
}

.contacts-container {
    background-color: #323232;
	height: 564px;
	width: 904px;
	margin: auto;
    padding-left: 120px;
    position: relative;
	font-family: 'MavenPro-Regular';
}

.contacts-container::before {
    content: "";
    position: absolute;
    margin: 13px 0px 0px -90px;
    width: 960px;
    background: #2b2b2b;
    height: 1px;
}

.contacts-container::after {
    content: "";
    position: absolute;
    margin: 53px 0px 0px -90px;
    width: 960px;
    background: #2b2b2b;
    height: 1px;
}

form {
    width: 580px;
    height: 370px;
}

div h4 {
    text-transform: capitalize;
    font-size: 22.65pt;
    padding-top: 62px;
    color: #e0e0e0;
}

.contacts-container p {
    padding-top: 3px;
    font-size: 13.55pt;
    color: #bebebe;
    padding-left: 1px;
}

input {
    background-color: #454545;
    margin: 4.5px 0px 11px 0px;
    padding: 0;
    border: none;
    padding-left: 15px;
    color: #bebebe;
}

.input-small {
    width: 564px;
    height: 38px;
}

textarea {
    width: 564px;
    height: 136px;
    color: #bebebe;
    background-color: #454545;
    margin: 6.5px 0px 17px 0px;
    resize: none;
    border: none;
    padding-left: 14px;
    overflow: auto;
    padding-top: 11px;
}

button {
    background-color: #2eb398;
    color: #d7fcf5;
    width: 90px;
    height: 36px;
    border: none;
    margin-left: 490px;
    margin-top: -2px;
    text-transform: uppercase;
    font-family: 'Lato-Bold';
    font-size: 11px;
}

button:hover {
    width: 95px;
    height: 41px;
    margin-left: 487.5px;
    margin-top: -1px;
}

.comments span {
    font-weight: bold;
    color: #e0e0e0;
}

.comments p {
    position: absolute;
    width: 180px;
    height: 130px;
    text-align: justify;
    left: 720px;
    margin-top: -4px;
    font-size: 12px;
    color: #bebebe;
    font-family: 'Lato-Regular';
    line-height: 181%;
}

.contacts {
    position: absolute;
    top: 290px;
    left: 719px;
}

.contacts p {
    font-size: 12px;
    color: #bebebe;
    font-family: 'Lato-Bold';
    line-height: 155%;
}

a.href-contacts {
    font-size: 12px;
    color: #bebebe;
    font-family: 'Lato-Bold';
    line-height: 155%;
    text-transform: none;
}

a:hover.href-contacts {
    color: #2eb398;
    font-size: 16px;
    font-family: 'Lato-Bold';
    line-height: 155%;
    text-transform: none;
}